# LLM
GROQ_API_KEY=
CEREBRAS_API_KEY=

# Integracoes
TELEGRAM_TOKEN=
TAVILY_API_KEY=
GITHUB_API_KEY=

# Observabilidade
LANGFUSE_SECRET_KEY=
LANGFUSE_PUBLIC_KEY=
LANGFUSE_BASE_URL=

# Filesystem MCP
FILESYSTEM_ROOT=

# Notion (opcional)
NOTION_KEY=
NOTION_PAGE_ID=
DATABASE=
DATA_SOURCE_ID=
